* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}
body {
  background-color: #d1c9c4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.Container{
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: #fdfdfd;
  display: grid;
  grid-template-columns: 1fr 2fr;
} 
.Container .left-side {
  position: relative;
  padding: 40px;
  background: #50392B;
}
.Container .right-side {
  position: relative;
  padding: 40px;
  background: #fafaf9;
}